@{
    ViewData["Title"] = "BlackJack";
}

<h2>BlackJack Betting Page</h2>
<hr />

<!-- Message -->
<h3>@ViewData["Message"]</h3>

<!-- Button Form -->
<form method="post">
    <!-- Player's current money-->
    Player's Money: @Model.player.money

    <br />

    <!-- Betting form -->
    @if (Model.player.money <= 0)
    {
        <button class="btn btn-success" type="submit" name="action" value="startover">Start Over</button>
    }
    else
    { 
        <div id="betButtons">
            <label for="bet">Player's Bet Amount:</label>
            <input id="bet" name="bet" type="number" min="1" max="@Model.player.money" required />
            <button class="btn btn-success" type="submit" name="action" value="bet">Bet</button>
        </div>
    }
    



</form>
